In [1]:
import math

In [ ]:
#Que 1

In [2]:
radius=float(input("enter the radius:"))
area=math.pi*radius**2
print(f"Area of circle is {area:.2f}")

enter the radius:3
Area of circle is 28.27

In [ ]:
#Que 2

In [3]:
name = input("enter the student's name:")
roll_number = input("enter the student's roll number:")
mark = input("enter the student's mark:")
print("student details:")
print(f"name:{name}")
print(f"roll number:{roll_number}")
print(f"mark:{mark}")

enter the student's name:anisha
enter the student's roll number:21
enter the student's mark:78
student details:
name:anisha
roll number:21
mark:78

In [ ]:
#Que 3

In [4]:
def find_largest(numbers):
  largest=max(numbers)
  return largest
numbers=[12,3,47,10]
largest_number=find_largest(numbers)
print(f"{largest_number}is the largest number. ")

47is the largest number.

In [ ]:
#Que 4

In [5]:
previous_num=0
for current_num in range(1,11):
  sum_num=current_num+previous_num
  print(f"current number{current_num}previous number{previous_num}sum:{sum_num}")
  previous_num=current_num

current number1previous number0sum:1
current number2previous number1sum:3
current number3previous number2sum:5
current number4previous number3sum:7
current number5previous number4sum:9
current number6previous number5sum:11
current number7previous number6sum:13
current number8previous number7sum:15
current number9previous number8sum:17
current number10previous number9sum:19

In [ ]:
#Que 5

In [6]:
numbers=[10,20,33,46,55]
divisible_by_5=[num for num in numbers if num %5 == 0]
print(divisible_by_5)

[10, 20, 55]

In [ ]:
#Que 6

In [7]:
def is_prime(n):
  if n <=1:
     return False
  for i in range(2,int(n**0.5)+1):
     if n % i == 0:
       return False
  return True
num=int(input("enter the number:"))
if is_prime(num):
  print(f"{num} is a prime number")
else:
  print(f"{num} is not a prime number")

enter the number:3
3 is a prime number

In [ ]:
#Que 7

In [8]:
numbers=[10,40,30,70]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[70, 30, 40, 10]

In [ ]:
#Que 8

In [9]:
for i in range(1,6):
  print(' '*(5-i)+'*'*i)

    *
   **
  ***
 ****
*****

In [ ]:
#Que 9

In [10]:
num1,num2,num3=34,12,7
print(max(num1,num2,num3))

34

In [ ]:
#Que 10

In [11]:
for i in range(1,6):
  for j in range(i):
    print('*', end=' ')
  print()
for i in range(4,0,-1):
  for j in range(i):
    print('*', end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*